<app-not-found
  *ngIf="!tours.length"
  message="No tour found with this name"
  resetRouteText="Search for something else"
  resetRoute="/"
></app-not-found>
<section *ngIf="tours.length" class="tours l-margin-top">
  <div class="container grid grid--4-col">
    <div class="filter-container">
      <div>
        <span>FILTERS</span>
      </div>
      <div>
        <price-ranger-slider [tours]="tours"> </price-ranger-slider>
      </div>
    </div>
    <div class="tour-container">
      <div class="tour-header m--margin-bottom">
        <h2 class="align-center">The best tours in the Country</h2>
      </div>

      <div class="search sm--margin-bottom">
        <app-sorting></app-sorting>
        <app-search></app-search>
      </div>
      <div class="grid grid--3-col">
        <div class="tour-content" *ngFor="let tour of tours">
          <a class="tour-link" routerLink="/tours/{{ tour.id }}">
            <img class="tour-img" [src]="path + tour.imageCover" />
            <div class="tour-info">
              <P class="tour-name xxsm--margin-bottom align-center">{{
                tour.name
              }}</P>
              <div class="tour-summary">
                <p>{{ tour.summary }}</p>
              </div>
              <ul class="tour-details">
                <li>⭐ Rating: {{ tour.ratingsAverage }}</li>
                <li>💰 Price: {{ tour.price }} €</li>
                <li>😫 Difficulty: {{ tour.difficulty }}</li>
              </ul>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
