<section class="tours l-margin-top">
  <div class="container">
    <div class="tour-header md--margin-bottom">
      <h2 class="align-center">The best tours in the Country</h2>
    </div>
    <div class="grid grid--3-col">
      <div class="tour-content" *ngFor="let tour of tourObj">
        <img
          class="tour-img"
          src="../../../../assets/img/{{ tour.imageCover }}"
        />
        <div class="tour-info">
          <div class="tour-summary">
            <p>{{ tour.summary }}</p>
          </div>
          <ul class="tour-details">
            <li>Rating: {{ tour.ratingsAverage }}</li>
            <li>Price: {{ tour.price }} €</li>
            <li>Difficulty: {{ tour.difficulty }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
