<header class="header">
  <a routerLink="#">
    <img
      class="logo"
      alt="Omnifood logo"
      src="../../../../assets/img/logos/happy-traveler.png"
  /></a>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a routerLink="/login" class="main-nav-link">Login</a></li>
      <li><a routerLink="/dashboard" class="main-nav-link">John</a></li>
      <li><a routerLink="/profile" class="main-nav-link">Profile</a></li>
      <li><a routerLink="/orders" class="main-nav-link">Orders</a></li>
      <li>
        <a routerLink="/cart-page" class="main-nav-link">
          Cart <span>3</span></a
        >
      </li>
      <li><a class="main-nav-link">Logout</a></li>
    </ul>
  </nav>
</header>
