<header class="header">
  <a routerLink="">
    <img
      class="logo"
      alt="Omnifood logo"
      src="../../../../assets/img/logos/happy-traveler.png"
  /></a>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li *ngIf="!islogged">
        <a routerLink="/login" class="main-nav-link"><span>Login</span></a>
      </li>
      <li *ngIf="islogged">
        <a routerLink="/dashboard" class="main-nav-link"
          ><img
            *ngIf="user.photo"
            class="profile-image"
            [src]="imagePath + user.photo"
            alt="profile-image"
          />
          <span>{{ user.name }}</span>
        </a>
      </li>
      <li><a routerLink="/myProfile" class="main-nav-link">My Profile</a></li>
      <li><a routerLink="/orders" class="main-nav-link">Orders</a></li>
      <li>
        <a routerLink="/cart-page" class="main-nav-link">
          Cart <span *ngIf="quantity">{{ quantity }}</span></a
        >
      </li>
      <li *ngIf="islogged">
        <a href="/logout" (click)="logout()" class="main-nav-link">Logout</a>
      </li>
    </ul>
  </nav>
</header>
