.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(121, 130, 165, 0.39);
  height: 7.6rem;
  padding: 0 4.8rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}
.logo {
  height: 5.2rem;
}
/* .main-nav-link span {
  font-size: 2rem;
  padding: 0.1rem 0.45rem;
  border-radius: 6rem;
  background-color: rgb(37, 58, 4);
  color: #fff;
} */
.profile-image {
  width: 4rem;
  border-radius: 6rem;
}

.main-nav-link:link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
