<section class="tour-section">
  <div class="tour container l-margin-top grid grid--2-col">
    <img class="tour-image" [src]="imagePath + tour.imageCover" />
    <div class="tour-description">
      <h3 class="name sm--margin-bottom align-center">{{ tour.name }}</h3>
      <p class="summary xxsm--margin-bottom">{{ tour.summary }}</p>
      <ul class="tour-details-list">
        <li>
          From <strong>{{ tour.price }}€</strong>
        </li>
        <li>Difficulty {{ tour.difficulty }}</li>
        <li>Rating {{ tour.ratingsAverage }}⭐</li>
      </ul>
      <div class="terms">
        <p><strong>Reserve Now & Pay Later</strong></p>
        <p>Secure your spot while staying flexible</p>
      </div>
      <button (click)="addToCart()" class="btn">
        <a class="cart" routerLink="/cart-page">Add to cart</a>
      </button>
    </div>
  </div>
  <div class="container full-description">
    <div class="overview">
      <h2>OVERVIEW</h2>
      <p class="xxsm--margin-top">{{ tour.description }}</p>
    </div>
    <app-map [locations]="tour.locations"></app-map>
  </div>
</section>
