<section *ngIf="tour" class="tour-section">
  <div class="tour container l-margin-top grid grid--2-col">
    <img
      class="tour-image"
      [src]="imagePath + tour.imageCover"
      alt="tour-images"
    />
    <div class="tour-description">
      <h3 class="name align-center">{{ tour.name }}</h3>
      <p class="summary xxsm--margin-bottom">{{ tour.summary }}</p>
      <ul class="tour-details-list">
        <li>
          From <strong>{{ tour.price }}€</strong>
        </li>
        <li>Difficulty {{ tour.difficulty }}</li>
        <li>Rating {{ tour.ratingsAverage }}⭐</li>
      </ul>
      <div class="terms">
        <p><strong>Reserve Now & Pay Later</strong></p>
        <p>Secure your spot while staying flexible</p>
      </div>
      <button (click)="addToCart()" class="btn">Add to cart</button>
    </div>
  </div>
  <div class="container full-description">
    <div class="overview">
      <h2>OVERVIEW</h2>
      <p class="xxsm--margin-top">{{ tour.description }}</p>
    </div>
  </div>
  <app-map [locations]="tour.locations"></app-map>
  <app-reviews [reviews]="tour.reviews"></app-reviews>
</section>
