<section class="hero-section">
  <div class="hero-container"></div>
  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="submit()">
    <div class="form-container">
      <h2>LOG IN</h2>
      <div class="username">
        <label for="email">Email</label>
        <input placeholder="Email" type="email" formControlName="email" />
        <div
          class="error-list"
          *ngIf="
            loginForm.controls.email.dirty &&
            loginForm.controls.email.touched &&
            loginForm.controls.email.errors
          "
        >
          <div
            class="required"
            *ngIf="loginForm.controls.email.errors.required"
          >
            Email should not be empty
          </div>
          <div class="email" *ngIf="loginForm.controls.email.errors.email">
            This is not an email
          </div>
        </div>
      </div>

      <div class="password">
        <label for="password">Password</label>
        <input
          placeholder="Password"
          type="password"
          formControlName="password"
        />
      </div>
      <p class="pass" (click)="onclick()">Forget your password?</p>
      <p class="pass" (click)="signup()">Not have an account? Sign up here</p>

      <button [disabled]="loginForm.invalid" class="btn" type="submit">
        Login
      </button>
    </div>
  </form>
  <app-email-modal (close)="onclick()" *ngIf="visible"></app-email-modal>
  <app-reset-password-modal
    (close)="resetPassOnClick()"
    *ngIf="resetVisible"
    [jwt]="jwt"
  ></app-reset-password-modal>
</section>
