.map-wrapper {
  padding: 0 3.2rem;
  max-width: 180rem;
  margin: 0 auto;
}
.map-container {
  height: 800px;
  width: 173.6rem;
  margin: 1.6rem 0;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}
