<div class="b-container grid grid--4-col">
  <div class="ul-background-container">
    <div class="ul-container">
      <ul class="general m--margin-bottom">
        <li><a routerLink="/">SETTINGS</a></li>
        <li><a routerLink="/">BOOKMARKS</a></li>
        <li><a routerLink="/">ME REVIEWS</a></li>
        <li><a routerLink="/">BILLING</a></li>
      </ul>
      <div class="heading sm--margin-bottom">
        <p>Admin</p>
      </div>
      <ul class="admin">
        <li><a routerLink="/">MANAGE TOURS</a></li>
        <li><a routerLink="/">MANAGE REVIEWS</a></li>
        <li><a routerLink="/">MAGANE USERS</a></li>
        <li><a routerLink="/">MANAGE BOOKINGS</a></li>
      </ul>
    </div>
  </div>
  <div class="info-container">
    <div class="info-heading">
      <p>YOUR ACCOUNT SETTINGS</p>
    </div>
  </div>
</div>
