<div (click)="closeModalonclick()" class="ui dimmer visible active custom">
  <div (click)="$event.stopPropagation()" class="ui modal visible active">
    <i (click)="closeModalonclick()" class="close icon"></i>
    <div class="header">PASSWORD RESET</div>
    <div class="content">
      <p>Please type your new password</p>

      <div>
        <label for="newPass">NEW PASSWORD:</label>
        <input [(ngModel)]="newPass" name="newPass" />
      </div>
      <div>
        <label for="newPassConfirm">PASSWORD CONF:</label>
        <input [(ngModel)]="newPassConfirm" name="newPassConfirm" />
      </div>
    </div>
    <div *ngIf="!showMessage" class="actions">
      <button (click)="resetPassword()" class="ui button">ok</button>
    </div>
    <div *ngIf="showMessage" class="header">
      <p>{{ message }}</p>
    </div>
  </div>
</div>
